<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">{{ 'Get Roles' | translate }}</h2>
    </div>
  </div>
  <div class="row text-end">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" (click)="addRole()">{{ 'Add' | translate }}</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <app-easy-table 
        [inputData]="roles" 
        [pageName]="pageName" 
        [inputColumns]="columns" 
      
        (actionTriggered)="onAction($event)">
      </app-easy-table>
    </div>
  </div>
</div>
