<div class="container">
  <div class="row">
    <div class="col-md-12 text-end">
      <button type="button" class="btn btn-primary m-2" (click)="save()">
        {{ 'Save' | translate }}
      </button>
      <button type="button" class="btn btn-danger m-2" (click)="cancel()">
        {{ 'Cancel' | translate }}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="subjectForm">
        <div class="row">
          <div class="col-md-6">
            <label for="name">
              {{ 'Subject Name' | translate }}: <span class="text-danger">*</span>
            </label>
            <input type="text" name="name" formControlName="name" class="form-control" [class.is-invalid]="Name?.invalid && (Name?.dirty || Name?.touched)">
            <div>
              <small class="text-danger" *ngIf="Name?.hasError('required') && (Name?.dirty || Name?.touched)">
                {{ 'Subject name is required' | translate }}
              </small>
              <small class="text-danger" *ngIf="Name?.hasError('minlength') && (Name?.dirty || Name?.touched)">
                {{ 'Subject name should be at least 3 characters' | translate }}
              </small>
            </div>
          </div>
          <div class="col-md-6">
            <label for="academicYear">
              {{ 'Academic Year' | translate }}: <span class="text-danger">*</span>
            </label>
            <input type="text" name="academicYear" formControlName="academicYear" class="form-control" [class.is-invalid]="AcademicYear?.invalid && (AcademicYear?.dirty || AcademicYear?.touched)">
            <div>
              <small class="text-danger" *ngIf="AcademicYear?.hasError('required') && (AcademicYear?.dirty || AcademicYear?.touched)">
                {{ 'Academic year is required' | translate }}
              </small>
              <small class="text-danger" *ngIf="AcademicYear?.hasError('pattern') && (AcademicYear?.dirty || AcademicYear?.touched)">
                {{ 'Academic year must be in the format YYYY or YYYY-YYYY' | translate }}
              </small>
            </div>
          </div>
        </div>
        <input type="hidden" formControlName="id">
      </form>
    </div>
  </div>
</div>
