<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="pageForm">
        <div class="row">
          <div class="col-md-6">
            <label for="name">
              {{ 'Page Name' | translate }}: <span class="text-danger">*</span>
            </label>
            <input type="text" id="name" formControlName="name" class="form-control"
              [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)">
            <div>
              <small class="text-danger" *ngIf="name?.hasError('required') && (name?.dirty || name?.touched)">
                {{ 'Page name is required' | translate }}
              </small>
              <small class="text-danger" *ngIf="name?.hasError('minlength') && (name?.dirty || name?.touched)">
                {{ 'Page name should be at least 3 characters' | translate }}
              </small>
            </div>
          </div>
          <div class="row">
            <input type="hidden" formControlName="id">
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 text-end">
          <button type="button" class="btn btn-primary m-2" (click)="save()">
            {{ 'save' | translate }}
          </button>
          <button type="button" class="btn btn-danger m-2" (click)="cancel()">
            {{ 'cancel' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
